<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gorgeous.bookshop.mapper.ShoppingCarMapper">

    <select id="loadCart" resultType="com.gorgeous.bookshop.bean.ItemInfo">
        select * from item_info
        where item_info.uid=any(
          select itemUid from item_cart
          where buyerName=#{buyerName});
    </select>

    <insert id="addToCart" parameterType="com.gorgeous.bookshop.bean.ItemCart" >
        insert into item_cart (itemUid, buyerName) values (#{itemUid}, #{buyerName});
    </insert>

    <delete id="deleteCartItem" parameterType="com.gorgeous.bookshop.bean.ItemCart" >
        delete from item_cart
        where itemUid=#{itemUid}
        and buyerName=#{buyerName};
    </delete>

</mapper>
