<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gorgeous.bookshop.mapper.SysMemberMapper">

    <select id="validateUserByUsername" parameterType="String" resultType="com.gorgeous.bookshop.bean.SysMember">
        SELECT * FROM sys_member WHERE username = #{username};
    </select>

    <select id="getCountByUsername" parameterType="String" resultType="integer">
        select COUNT(*) from sys_member where username=#{username};
    </select>

    <insert id="insertUser" parameterType="com.gorgeous.bookshop.bean.SysMember" >
        insert into sys_member (uid, username, password)
        values (#{uid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR});
    </insert>

</mapper>
